{% extends 'core/base.html' %}

{% block head_block %}
{% load static %}
<link rel="stylesheet" href="#">
{% endblock head_block %}

{% block body_block %}
    <div>
        <h2>Patients List View</h2>
        <hr>
        <a href="{% url 'patient:create'%}" class="btn btn-primary"> Add Patient </a>
        <hr>
    </div>
    
    <div class="patients-list-container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Birthday</th>
                <th scope="col">Date Added</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
            <tr>
                <th scope="row">{{ patient.id }}</th>
                <td><a href="{% url 'patient:list'%}">{{ patient.first_name | title }} {{ patient.last_name | title }}</a></td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.contact_number }}</td>
                <td>{{ patient.birthday }}</td>
                <td>{{ patient.created_on }}</td>
                <td>
                    <a href="#" class="btn btn-warning">Update</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>  
    </div>

{% endblock body_block %}