{% extends 'core/base.html' %}

{% block body_block %}
<div class="jumbotron">
    <div class="heading">
        <h2>Welcome to my Clinic API</h2>
        {% if user.is_authenticated %}
        <p>You are logged in as {{ user.first_name }} {{ user.last_name }}</p>
        <hr>
        <a href="{% url 'accounts:create_staff' %}" class="btn btn-success">Add Staff</a>
        {% else %}
        <p>Please login or request for an account to access the application</p>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Number of Appointments</h5>
              <h3 class="card-text">{{ num_of_doctors }}</h3>
              <a href="{% url 'appointment:create' %}" class="btn btn-primary">New Appointment</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Number of Patients</h5>
              <h3 class="card-text">{{ num_of_patients }}</h3>
              <a href="{% url 'patient:create' %}" class="btn btn-primary">New Patient</a>
            </div>
          </div>
        </div>
      </div>
    <h4>Appointments</h4>
    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Patient</th>
                <th scope="col">Schedule</th>
                <th scope="col">Doctor</th>
                <th scope="col">Email</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Description</th>
                <th scope="col">Completed</th>
                <th scope="col">Price</th>
                <th scope="col">Paid</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
            <tr>
                <th scope="row">{{ appointment.id }}</th>
                <td><a href="{% url 'patient:detail' pk=appointment.patient.id %}">{{ appointment.patient.first_name | title }} {{ appointment.patient.last_name | title }}</a></td>
                <td>{{ appointment.schedule_date }}</td>
                <td><a href="{% url 'doctor:doctor_detail' pk=appointment.doctor.id%}">{{ appointment.doctor.user.first_name | title }} {{ appointment.doctor.user.last_name | title }}</a></td>
                <td>{{ appointment.patient.email }}</td>
                <td>{{ appointment.patient.contact_number }}</td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.is_complete }}</td>
                <td>{{ appointment.price }}</td>
                <td>{{ appointment.is_paid }}</td>
                <td>
                    <a href="{% url 'appointment:update' pk=appointment.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'appointment:delete' pk=appointment.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>  
    {% endif %}

    </div>
    

{% endblock body_block %}