{% extends 'core/base.html' %}

{% block body_block %}
<div class="jumbotron">
    <div class="heading">
        <h2>Welcome to my Clinic API</h2>
        {% if user.is_authenticated %}
        <p>You are logged in as {{ user.first_name }} {{ user.last_name }}</p>
        <hr>
        <a href="{% url 'accounts:create_staff' %}" class="btn btn-success">Add Staff</a>
        {% else %}
        <p>Please login or request for an account to access the application</p>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
    
</div>
{% endblock body_block %}