.appointment-form-container {
    width: 500px;
    height: 550px;
    background: whitesmoke;
    padding: 10px 20px 10px;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 4px rgba(53, 53, 53,0.5);
}