html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #c9d6ff, #e2e2e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar, .dropdown-menu {
    background:seagreen !important;
    
}

.dropdown-menu a:hover{
    background:lightcyan;
    color: black !important;
}

.navbar a {
    font-size: 16px;
    color:white !important;
    font-weight: 600;
}

.jumbotron{
    margin-bottom: 0px !important;
}

.head-section {
    padding: 15px;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    
}

.card {
    border-radius: 10px;
    width: 450px;
    background: linear-gradient(to right, #134e5e, #71b280) !important;
    border: none;
    color: white;
    box-shadow: 5px 5px 8px #888888 !important;
}

.card-title, .card-text, .card-body {
    text-align: center !important;
}

.appointments-section {
    padding: 10px;
}