{% extends 'core/base.html' %}


{% block body_block %}

<h3>Appointment list view</h3>

<div class="appointments-list-container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Patient</th>
            <th scope="col">Schedule</th>
            <th scope="col">Doctor</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            <th scope="col">Price</th>
            <th scope="col">Paid</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
        <tr>
            <th scope="row">{{ appointment.id }}</th>
            <td><a href="#">{{ appointment.patient.first_name | title }} {{ appointment.patient.last_name | title }}</a></td>
            <td>{{ appointment.schedule_date }}</td>
            <td><a href="#">{{ appointment.doctor.user.first_name | title }} {{ appointment.doctor.user.last_name | title }}</a></td>
            <td>{{ appointment.patient.email }}</td>
            <td>{{ appointment.patient.contact_number }}</td>
            <td>{{ appointment.description }}</td>
            <td>{{ appointment.is_complete }}</td>
            <td>{{ appointment.price }}</td>
            <td>{{ appointment.is_paid }}</td>
            <td>
                <a href="{% url 'appointment:update' pk=appointment.id%}" class="btn btn-warning">Update</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>  
</div>

{% endblock %}