{% extends 'core/base.html' %}

{% block head_block %}

{% load formcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/appointment.css' %}">

{% endblock head_block %}

{% block body_block %}


<div class="appointments-main-container">
<h3 style="color:#5f5f5f;">Appointments</h3>
<div class="appointments-list-container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Patient</th>
            <th scope="col">Schedule</th>
            <th scope="col">Doctor</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>

            {% if user.is_staff %}
            <th scope="col">Price</th>
            <th scope="col">Paid</th>
            <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
        <tr>
            <th scope="row">{{ appointment.id }}</th>
            <td><a href="{% url 'patient:detail' pk=appointment.patient.id %}">{{ appointment.patient.first_name | title }} {{ appointment.patient.last_name | title }}</a></td>
            <td>{{ appointment.schedule_date }} {{ appointment.schedule_time }}</td>
            <td><a href="{% url 'doctor:doctor_detail' pk=appointment.doctor.id%}">{{ appointment.doctor.user.first_name | title }} {{ appointment.doctor.user.last_name | title }}</a></td>
            <td>{{ appointment.patient.email }}</td>
            <td>{{ appointment.patient.contact_number }}</td>
            <td>{{ appointment.description }}</td>
            <td>{{ appointment.is_complete }}</td>
            {% if user.is_staff %}
            
            <td>{{ appointment.price }}</td>
            <td>{{ appointment.is_paid }}</td>
            <td>
                <a href="{% url 'appointment:update' pk=appointment.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'appointment:delete' pk=appointment.id %}" class="btn btn-danger">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>  
</div>
</div>
{% endblock %}