{% extends 'core/base.html' %}

{% block head_block %}

{% load formcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/appointment.css' %}">

{% endblock head_block %}

{% block body_block %}
<div class="appointment-form-container">
    <h4 style="color:#5f5f5f;">Create Appointment</h4>
    <hr>
    <!-- | addclass:"form-control -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" class="btn btn-primary">
    </form>
</div>
{% endblock %}